* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

main {
    background: radial-gradient(circle, rgba(63,251,217,1) 0%, rgba(125,70,252,1) 94%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
}

.wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.avatar {
    background-image: url('./stogare/avarta.jpg');
    background-size: cover;
    background-position-y: 67%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.information {
    background-color: rgba(183, 212, 231, 0.521);
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    line-height: 26px;
}

.link {
    text-decoration: none;

}



.grid.wide {
    max-width: 1000px;
}

.name {
    font-size: 2rem;
    line-height: 40px;
}

.sub-name {
    font-weight: bold;
    line-height: 40px;
}

.contact {
    display: flex;
    margin-top: 20px;

}

.contact.contact-social {
    flex-wrap: wrap;
}

.contact-name {
    padding-left: 10px;
}

.icon-social {
    height: 40px;
    margin-right: 40px;
}

@media (max-width: 1024px) {
    .avatar {
        /* border-radius: 50%; */
    }

    .wrap {
        background-color: unset;
    }

    
}

@media (max-width: 740px) {
    .avatar-mb {
        background-image: url('./stogare/avarta.jpg');
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-position: center;
        background-size: cover;
        display: block;
    }

    .information {
        background-color: unset;
    }

    main {
        flex-direction: column;
        align-items: center;
        padding: 30px;
    }

    .wrap {
        position: unset;
        transform: unset
    }

    .social-mb {
        margin-top: 20px;
    }
}

